<div class="row justify-content-center">
  <mat-card class="ifry-card mat-mdc-elevation-specific mat-elevation-z10" appearance="outlined">
    <mat-card-header>
      <mat-card-title>iFry</mat-card-title>
      <mat-card-subtitle>Oven instructions to AirFry temp/time calculator</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-row justify-content-around">
        <div class="m-2">
          <mat-form-field style="width:100px">
            <mat-label>Temp</mat-label>
            <input type="number" matInput max="500" min="0" [ngModel]="store.inputTemp()" (ngModelChange)="updateTemp($event)"/>
          </mat-form-field>
        </div>
        <div class="m-2">
          <mat-form-field style="width: 100px">
            <mat-label>Time(m)</mat-label>
            <input type="number" matInput max="900" min="0" [ngModel]="store.inputTime()" (ngModelChange)="updateTime($event)"/>
          </mat-form-field>
        </div>
      </div>
<!--      <div class="d-flex flex-row justify-content-center">-->
<!--        <button mat-raised-button color="primary" (click)="calculate()">Calculate</button>-->
<!--      </div>-->
      <div class="d-flex flex-row justify-content-center">
        <h3>Set your Air Fryer to</h3>
      </div>
      <div class="d-flex flex-row justify-content-around">
        <div class="m-2">
            <mat-label>Temp</mat-label>
        </div>
        <div class="m-2">
            <mat-label>Time(m)</mat-label>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-around">
        <div class="m-2">
          <mat-label>{{store.outputTemp()}}</mat-label>
        </div>
        <div class="m-2">
          <mat-label>{{store.outputTime()}}</mat-label>
        </div>
      </div>
      <div class="row">
        <a [routerLink]="['/recipes']" style="text-decoration: none;">Recipes</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
